<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantau Corona</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <!-- navbar -->
        <nav>
            <div class="logo">
                <a href="#"><span class="white">PANTAU</span><span class="orange">CORONA</span>
            </div>
            <ul>
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Data</a></li>
                <li><a href="#">Pencegahan</a></li>
                <li><a href="#">Tentang</a></li>
                <li class="no-ml"><a href="#" class="button-hotline">Covid-19 Hotline : 199</a></li>
            </ul>
        </nav>

        <!-- konten header -->
        <div class="header-content">
            <!-- text konten header -->
            <div class="flex-content">
                <p class="margin-unset"><span class="span-white">Stay</span> <span
                        class="span-orange extra-bold">Home</span></p>
                <p class="margin-unset lh-60"><span class="span-orange">Stay</span> <span
                        class="span-white extra-bold">Safe</span></p>
                <p class="margin-unset mt-10px">Gunakan Protokol Kesehatan untuk Mencegah Penularan Virus Covid-19</p>
                <p>Corona Virus disease (covid-19) is an disease caused by a newly discovered coronavirus</p>
                <button class="button-lookdata">Lihat Data</button>
            </div>
            <!-- image header -->
            <div class="flex-image">
                <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_1KyL2Q.json"
                    background="transparent" speed="1" class="image-covid" loop autoplay>
                </lottie-player>
            </div>
        </div>
    </header>

    <main>
        <!-- covid data -->
        <div class="main-flex">
            <div class="box-flex-data">
                <div class="card">
                    <div class="pd-10">
                        <h1>TERKONFIRMASI</h1>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                <div class="text-name">Indonesia</div>
                            </div>
                            <div class="flex-side-50">
                                <div class="text-name">Dunia</div>
                            </div>
                        </div>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                <div class="text-people color-yellow">
                                    10,000
                                </div>
                            </div>
                            <div class="flex-side-50">
                                <div class="text-people color-yellow">
                                    10,000
                                </div>
                            </div>
                        </div>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                <div class="text-people-grow color-yellow">
                                    <i class="fa fa-chevron-circle-up"></i> 10,000
                                </div>
                            </div>
                            <div class="flex-side-50">
                                <div class="text-people-grow color-yellow">
                                    <i class="fa fa-chevron-circle-up"></i> 10,000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-flex-data">
                <div class="card">
                    <div class="pd-10">
                        <h1>SEMBUH</h1>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                Indonesia
                            </div>
                            <div class="flex-side-50">
                                Dunia
                            </div>
                        </div>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                <div class="text-people color-green">
                                    10,000
                                </div>
                            </div>
                            <div class="flex-side-50">
                                <div class="text-people color-green">
                                    10,000
                                </div>
                            </div>
                        </div>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                <div class="text-people-grow color-green">
                                    <i class="fa fa-chevron-circle-up"></i> 10,000
                                </div>
                            </div>
                            <div class="flex-side-50">
                                <div class="text-people-grow color-green">
                                    <i class="fa fa-chevron-circle-up"></i> 10,000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-flex-data">
                <div class="card">
                    <div class="pd-10">
                        <h1>MENINGGAL</h1>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                Indonesia
                            </div>
                            <div class="flex-side-50">
                                Dunia
                            </div>
                        </div>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                <div class="text-people color-red">
                                    10,000
                                </div>
                            </div>
                            <div class="flex-side-50">
                                <div class="text-people color-red">
                                    10,000
                                </div>
                            </div>
                        </div>
                        <div class="flex-normal">
                            <div class="flex-side-50">
                                <div class="text-people-grow color-red">
                                    <i class="fa fa-chevron-circle-up"></i> 10,000
                                </div>
                            </div>
                            <div class="flex-side-50">
                                <div class="text-people-grow color-red">
                                    <i class="fa fa-chevron-circle-up"></i> 10,000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- covid table -->
        <div class="main-flex">
            <div class="card">
                <div class="pd-10">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque repellat minima velit
                        accusamus deleniti, officia inventore veritatis dolor! Necessitatibus alias quaerat deleniti
                        eaque error consequuntur expedita accusantium sit rem mollitia!
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, nam. Ullam adipisci similique
                        itaque necessitatibus pariatur corrupti culpa dolorem voluptatum laboriosam consequuntur
                        repellat aut, ducimus, nobis rem alias aliquid quae!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit delectus soluta voluptate
                        optio dicta quam commodi doloremque vitae animi sunt non nisi laborum placeat magnam nam totam
                        omnis, deserunt inventore!</p>
                </div>
            </div>
        </div>
        <!-- covid prevention -->
        <div class="main-flex">
            <div class="box-flex-data">

            </div>
            <div class="box-flex-data">

            </div>
            <div class="box-flex-data">

            </div>
        </div>
        <!-- about developer -->
        <div class="main-flex"></div>
    </main>

    <footer>

    </footer>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>