main {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 75px;
    padding-left: 75px;
}

.main-flex {
    display: flex;
}

.box-flex-data {
    flex-basis: 33.33%;
    margin-left: 5px;
    margin-right: 5px;
}

.flex-normal {
    display: flex;
    margin-bottom: 10px;
}

.flex-column {
    flex-direction: column;
}

.flex-side-50 {
    text-align: center;
    flex-basis: 50%;
}

.box-flex-data h1 {
    text-align: center;
}

.card {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
}

.pd-10 {
    padding: 10px;
}

.text-name {
    font-weight: 600;
}

.text-people {
    font-size: 20pt;
    font-weight: bold;
}

.text-people-grow {
    font-size: 12pt;
    font-weight: bolder;
}

.color-yellow {
    color: #fddb3a;
}

.color-green {
    color: #81b214;
}

.color-red {
    color: #ea5455;
}